
body{
  overflow-y:hidden !important;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.information-div
{
  position: absolute ;
  background-color: rgba(1, 169, 130,255);
  padding: 10px ;
}
.information-div:hover
{
  border: 1px solid rgb(255, 141, 109);
}


.main-article {
  overflow: hidden;
  background-attachment: fixed;
}

.overview-row {
  padding: 0 5% 0 5%;
}

.overview-row1 {
  margin-bottom: 3%;
}

.company-carousel {
  width: 100%;
  height: 100%;
}
.siema
{
  width: 100%;
  height: 100%;
}


.siemasse
{
  width: 100%;
  height: 100%;
}
.carousel-container > div
{
  height: 100%;
}
.carousel-container > div > div
{
  height: 100%;
}
.carousel-container > div > div > div
{
  height: 100%;
}

.company-dashboard-box {
  width: 100%;
  height: 100%;
}

.grid
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.grid-cell
{
  flex:1;
}
.company-icon
{
  width:10vh;
}

.startTestBox
{
  text-align: center;
  align-items: center;
}

.heading-col {
  padding-top: 2%;
  width: 100%;
  height: 100%;
}


.full-size{
  width: 100%;
  height:100%;
}


loading-screen {
  height: 100%;
  align: center;
}

.mainHeading
{

  color:  #ff8d6d;;
}
.mainCaption
{
  color: #000;
}

.grommetux-control-icon {
  fill: #777;
  stroke: #AAA;
}

.perf-profiler {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  top: 20px;
  padding: 10px;
  background: #bada55;
  border: 2px solid black;
  text-align: center;
}

.perf-profiler > h1 {
  font-size: 1.5em;
}

.perf-profiler > button {
  display: block;
  margin-top: 10px;
  padding: 5px;
}


